.custom-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: rgba(255,255,255,.55);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}